.current-container {
  width: 500px;
  color: white;
  border: 1px solid #f8f9fa;
  border-top: none;
}

.current-city {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  padding: 1rem;
}

.current-city img {
  width: 45%;
}

.current-city p {
  width: 45%;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}

.current-details {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.current-details .current-list {
  width: 100%;
  cursor: pointer;
  background-color: #dc4782;
}

.current-list:nth-child(even) {
  background-color: #cd4177;
}

.current-list a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 1em;
  font-size: 1.2em;
  color: white;
  text-decoration: none;
}

.current-list a > p {
  margin: 0;
}

.current-list a > div {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.current-list a:hover {
  color: wheat;
}
